// DOC MAINPAGE

main {
    
    .mainPage {
        position: absolute;
        left: 20%;
        top: 225px;
     
                   background-image: url('../images/paper.jpg');
                    background-size: cover;
        width: 80%;
        height: 100%;
     
    }
}