// DOC VARIABLES

$blueFontColour: #ddebed;
$mainFont: 'Cinzel Decorative', cursive;
$logoFont:'Cinzel Decorative', cursive;
$simpleFont: 'Kadwa', serif;
$bodyHeader: 1.500vw;
$bodySubheader: 1.375vw;
$logoFontSize: 2.125vw;

$BGdarkBlue: #333544;
$BGlightDarkBlue: #325680;
$BGblue: #3071B7;
$ss: 1.575vw;

